{% extends "egarbage/layout.html" %} {% block title %} About {% endblock %} {% block content %} {% load static %}

<div>&nbsp;</div>
<div>&nbsp;</div>

<h1 class="text-center">Our mission</h1>
<div class="row">&nbsp;</div>

<div class="row">

    <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deleniti ea modi molestiae odit optio repellendus? Ab amet, eaque earum illo in inventore minus nihil nostrum obcaecati qui saepe voluptatum. Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Quidem eos delectus ducimus magnam obcaecati maiores dolor. Odit autem error ratione consequuntur aut cupiditate? Ratione, quam sit! Atque cumque ab totam.
    </p>
</div>

<div class="row">&nbsp;</div>

<h1 class="text-center">The team</h1>
<p class="text-center text-muted"><br> ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptate asperiores accusamus provident quibusdam veniam voluptates sed nemo. Recusandae incidunt eaque eveniet veniam magni quo veritatis deleniti, optio impedit cupiditate. Lorem,
    ipsum dolor sit amet consectetur adipisicing elit. Consectetur, voluptate! Alias cum impedit voluptates facere exercitationem nemo quasi dolorem natus a eos eveniet autem, rerum deleniti iure minima laudantium. Rem.</p>
<div>&nbsp;</div>
<div class=" card ">
    <div class="row ">
        <!-- Carousel start -->
        <div class="col-md-5 ">
            <div id="card-img-top ">
                <img class="card-img-top " src="{% static 'egarbage/images/index.jpeg' %} " alt="Card image cap ">
            </div>
        </div>
        <div class="col-md-7 px-3 ">
            <div class="card-block px-6 ">
                <div class="card-body ">
                    <h4 class="card-title ">MM</h4>
                    <h6 class="card-subtitle text-muted ">Title</h6>
                </div>
                <div class="card-body ">
                    <p class="card-text ">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat explicabo velit quam similique. Optio dignissimos deserunt nihil culpa. Tempora accusantium facilis velit natus ipsa quod rem asperiores quo fugiat molestiae? </p>
                    <p class="card-text ">Made for usage, commonly searched for. Fork, like and use it. Just move the carousel div above the col containing the text for left alignment of images</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div>&nbsp;</div>
<div class="card ">
    <div class="row ">
        <!-- Carousel start -->
        <div class="col-md-5 ">
            <div id="card-img-top ">
                <img class="card-img-top " src="{% static 'egarbage/images/index.jpeg' %} " alt="Card image cap ">
            </div>
        </div>
        <div class="col-md-7 px-3 ">
            <div class="card-block px-6 ">
                <div class="card-body ">
                    <h4 class="card-title ">MM</h4>
                    <h6 class="card-subtitle text-muted ">Title</h6>
                </div>
                <div class="card-body ">
                    <p class="card-text ">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat explicabo velit quam similique. Optio dignissimos deserunt nihil culpa. Tempora accusantium facilis velit natus ipsa quod rem asperiores quo fugiat molestiae? </p>
                    <p class="card-text ">Made for usage, commonly searched for. Fork, like and use it. Just move the carousel div above the col containing the text for left alignment of images</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div>&nbsp;</div>
<div class="card ">
    <div class="row ">
        <!-- Carousel start -->
        <div class="col-md-5 ">
            <div id="card-img-top ">
                <img class="card-img-top " src="{% static 'egarbage/images/index.jpeg' %} " alt="Card image cap ">
            </div>
        </div>
        <div class="col-md-7 px-3 ">
            <div class="card-block px-6 ">
                <div class="card-body ">
                    <h4 class="card-title ">MM</h4>
                    <h6 class="card-subtitle text-muted ">Title</h6>
                </div>
                <div class="card-body ">
                    <p class="card-text ">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat explicabo velit quam similique. Optio dignissimos deserunt nihil culpa. Tempora accusantium facilis velit natus ipsa quod rem asperiores quo fugiat molestiae? </p>
                    <p class="card-text ">Made for usage, commonly searched for. Fork, like and use it. Just move the carousel div above the col containing the text for left alignment of images</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="card ">
    <div class="row ">
        <!-- Carousel start -->
        <div class="col-md-5 ">
            <div id="card-img-top ">
                <img class="card-img-top " src="{% static 'egarbage/images/index.jpeg' %} " alt="Card image cap ">
            </div>
        </div>
        <div class="col-md-7 px-3 ">
            <div class="card-block px-6 ">
                <div class="card-body ">
                    <h4 class="card-title ">MM</h4>
                    <h6 class="card-subtitle text-muted ">Title</h6>
                </div>
                <img src="holder.js/100x180/ " alt=" ">
                <div class="card-body ">
                    <p class="card-text ">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat explicabo velit quam similique. Optio dignissimos deserunt nihil culpa. Tempora accusantium facilis velit natus ipsa quod rem asperiores quo fugiat molestiae? </p>
                    <p class="card-text ">Made for usage, commonly searched for. Fork, like and use it. Just move the carousel div above the col containing the text for left alignment of images</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div>&nbsp;</div>
<div>
    <h1 class="text-center ">Contact Us</h1>
    <p class="text-center ">The form goes here</p>
</div>
{% endblock %}