{% extends "egarbage/layout.html" %} {% block title %} About {% endblock %} {% block content %} {% load static %}
    {% load widget_tweaks %}

    <div>&nbsp;</div>
    <div>&nbsp;</div>

    <h1 class="text-center">Our mission</h1>
    <div class="row">&nbsp;</div>

    <div class="row">

        <p class="text-center">
            E-garbage saving system provides a unique and sustainable solution in E-waste recycling and provides
            support to our clients, raise awareness on E-waste handling, provide E-waste collection, transport and
            treatment
            services. <b>Live in green environment with no E-waste to stay safe and clean</b>.
        </p>
    </div>

    <div class=" row ">&nbsp;</div>

    <h1 class="text-center ">The team</h1>

    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="card about no-gutters">
        <div class="row ">
            <div class="col-md-5 ">
                <div id="card-img-top ">
                    <img class="card-img-top img-fluid" src="{% static 'egarbage/images/team/mizero.jpg' %} "
                         alt="Mizero">
                </div>
            </div>
            <div class="col-md-7 px-3 ">
                <div class="card-block px-6 ">
                    <div class="card-body ">
                        <h4 class="card-title ">Hyacenthe Mizero</h4>
                        <h6 class="card-subtitle text-muted ">Team Leader</h6>
                    </div>
                    <div class="card-body text-justify">
                        <p class="card-text">
                            My great passion is creating sustainable solution in handle and I am most proud of
                            impacting positively my community. I help our clients include households, institution
                            and internet service providers (ISPs) handle and recycle E-waste collectively.
                            My experience include creating awareness on health in the community, negotiation,
                            handling clients and marketing. Moreover, I studied Mathematics, chemistry and
                            biology(MCB) and I am diploma graduate in hospitality and tourism management.
                        </p>

                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="card about">
        <div class="row ">
            <div class="col-md-7 px-3 ">
                <div class="card-block px-6 ">
                    <div class="card-body ">
                        <h4 class="card-title ">Josee Umugwaneza</h4>
                        <h6 class="card-subtitle text-muted ">Marketing Lead</h6>
                    </div>
                    <div class="card-body text-justify">
                        <p class="card-text">
                            I am qualified in developing, implementing and executing strategic marketing plans for an
                            entire organization in order to attract potential customers and retain existing ones.
                            I used to attend the meetings about electronic waste materials, and I have skills of
                            managing and coordinating marketing and creative staff.
                        </p>

                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ">
                <div id="card-img-top ">
                    <img class="card-img-top img-fluid" src="{% static 'egarbage/images/team/josee.jpg' %} "
                         alt="UMUGWANEZA">
                </div>
            </div>

        </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="card about">
        <div class="row ">
            <div class="col-md-5 ">
                <div id="card-img-top ">
                    <img class="card-img-top img-fluid" src="{% static 'egarbage/images/team/emile.JPG' %} "
                         alt="Card image cap ">
                </div>
            </div>
            <div class="col-md-7 px-3 ">
                <div class="card-block px-6 ">
                    <div class="card-body ">
                        <h4 class="card-title ">Emile Uwayezu</h4>
                        <h6 class="card-subtitle text-muted ">Chemical Engineer</h6>
                    </div>
                    <div class="card-body text-justify">
                        <p class="card-text ">
                            A chemist specifically environmental chemistry with two 2 years of experience in
                            consultation and research on water quality and E-waste collection and treatment.
                            My area of expertise involved on working with different NGOs, private companies,
                            government institutions such as RWFA, University of Rwanda, AMAZI YEGO Ltd, and Spark
                            Microgrants. I was part of the team that conduct Rapid assessment of drinking water
                            quality in rural area of Rwanda, a collaborative effort between RURA and UNICEF,
                            again I was engaged in surface water monitoring activities in RWFA for the Water for
                            Growth project. Further I was part of the team for the research conducted by Emory
                            university from university through AMAZI YEGO  about clean water access, hygiene and
                            sanitation at household level in Rwamagana district, the national survey about the use
                            of mercury and Mercury compounds in Rwanda and management of its wastes.
                        </p>
                        <br>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="card about">
        <div class="row ">

            <div class="col-md-7 px-3 ">
                <div class="card-block px-6 ">
                    <div class="card-body ">
                        <h4 class="card-title ">Jean Sauveur Mizerere</h4>
                        <h6 class="card-subtitle text-muted ">Technical Lead</h6>
                    </div>
                    <div class="card-body ">
                        <div class="card-body text-justify">
                            <p class="card-text">
                                Electronic and Cybersecurity Engineer, I have a master degree in Information Technology
                                from Carnegie Mellon University. I have an experience of working in one of the biggest
                                E-waste producer, Which is hospitals. I have Carried out preventive and curative
                                maintenance of biomedical, Networking, and Electrical equipment used in hospital.
                            </p>
                            <p class="card-text ">
                                In addition, I have knowledge in penetration testing, and developing security tools.
                                Skilled in performing deeply technical security assessments to discover
                                security issues in the systems. I have developed security tools that carry
                                out a vulnerability assessment and detect threats and anomalies in real-time
                                using artificial intelligence.
                            </p>
                            <br>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ">
                <div id="card-img-top ">
                    <img class="card-img-top img-fluid" src="{% static 'egarbage/images/team/mizererepic1.jpg' %} "
                         alt="Card image cap ">
                </div>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="card about">
        <div class="row ">

            <div class="col-md-5 ">
                <div id="card-img-top ">
                    <img class="card-img-top img-fluid" src="{% static 'egarbage/images/team/sostene.jpg' %} "
                         alt="Card image cap ">
                </div>
            </div>
            <div class="col-md-7 px-3 ">
                <div class="card-block px-6 ">
                    <div class="card-body ">
                        <h4 class="card-title ">Sostene Bagira</h4>
                        <h6 class="card-subtitle text-muted ">Software Developer</h6>
                    </div>
                    <div class="card-body text-justify">
                        <p class="card-text  ">
                            A talented Software Developer, an award winner for 2019 best performer in Rwanda national
                            exam in Mathematics, Physics, and Computer Science subjects.

                        </p>
                        <p class="card-text ">
                            I have developed different platforms for E-commerce, Logistics, E-Learning, and blog.
                            I am passionate on giving back by teaching youth how to learn and code efficiently
                            through my Youtube channel and E-learning blog.
                        </p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="card about">
        <div class="row ">

            <div class="col-md-7 px-3 ">
                <div class="card-block px-6 ">
                    <div class="card-body ">
                        <h4 class="card-title ">Christian Nduwimana</h4>
                        <h6 class="card-subtitle text-muted ">Software and Embedded Systems Engineer</h6>
                    </div>
                    <div class="card-body text-justify">
                        <p class="card-text ">
                            I am a software engineer with more than three years of experience in the information
                            technology and services industry, and a recipient of several programming-related awards. I
                            have developed several platforms to help clients in running their businesses smoothly.
                            Current areas of interest are software engineering, network security, virtual reality,
                            system administration, and embedded systems. Aspiring to use programming and network
                            security skills in producing and securing applications in industry. With a few years of
                            experience I possess, I am confident that I will continue to flourish in future job
                            responsibilities.
                        </p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ">
                <div id="card-img-top ">
                    <img class="card-img-top img-fluid" src="{% static 'egarbage/images/team/nduxrs.jpeg' %} "
                         alt="Card image cap ">
                </div>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="partners mx-auto">
        <h1 class="text-center">Partners</h1>
        <div>&nbsp;</div>
        <div class="row align-items-center">
            <div class="col mx-auto">
                <figure class="figure ">
                    <img src="{% static 'egarbage/images/partners/gor.png' %}" alt="" class="img-fluid">
                    <figcaption class="figure-caption text-center">Government of Rwanda.</figcaption>
                </figure>
            </div>
            <div class="col mx-auto">
                <figure class="figure mx-auto">
                    <img src="{% static 'egarbage/images/partners/enviroserve.png' %}" alt="" class="img-fluid">
                    <figcaption class="figure-caption text-center">Enviroserve.</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <hr>
    <div class="contact_form mx-auto">
        <h1 class="text-center ">Contact Us</h1>
        <br>
        <form method="post">
            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="form-group">
                <button type="submit" class="btn btn-success">Save
                </button>
                <a href="{% url 'about' %}" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}