{% extends "egarbage/layout.html" %} {% block title %} History {% endblock %} {% block content %}

    <h2 class="text-center" xmlns="http://www.w3.org/1999/html">Please find below your submitted entries.</h2>
    <br>

    <div class="row mx-auto history card">

        {% if hist %}
            {% for foo in hist %}
                <h2>Item: {{ foo.e_waste_type }}</h2>
                <p>Quantity: {{ foo.quantity }}</p>
                <p>Time: {{ foo.timestamp|linebreaksbr }}</p>

            {% endfor %}
        {% else %}
            You did not submit anything in the past.
        {% endif %}

    </div>
{% endblock %}