{% extends "egarbage/layout.html" %} {% block title %} History {% endblock %} {% block content %}
    <br>
    <h2 class="text-center">Your previous records.</h2>
    <br>

    <div class="card mx-auto history">
        <div class="card-body">
            {% if hist %}
                {% for foo in hist %}
                    <h3> {{ foo.e_waste_type }}</h3><br>
                    <p>Quantity: {{ foo.quantity }}</p>
                    <p>Time: {{ foo.timestamp|date:"D, d M Y"|linebreaksbr }}</p>
                    {% if foo.collected %}
                        <p>Collected: <b style="color: green;">yes</b></p>
                    {% else %}
                        <p>Collected: <b style="color: red;">No</b></p>
                    {% endif %}
                    <hr>
                {% endfor %}
            {% else %}
                You have no previous records.
            {% endif %}
        </div>
    </div>
{% endblock %}