{% extends "egarbage/layout.html" %} {% block title %} History {% endblock %} {% block content %}

    <h2 class="text-center" xmlns="http://www.w3.org/1999/html">Please find below your submitted entries.</h2>
    <br>

    <div class="card mx-auto history">
        <div class="card-body">
            {% if hist %}
                    {% for foo in hist %}

                        <h3> {{ foo.e_waste_type }}</h3><br>
                        <p>Quantity: {{ foo.quantity }}</p>
                        <p>Time: {{ foo.timestamp|date:"D, d M Y"|linebreaksbr }}</p>
                        <hr>
                    {% endfor %}

            {% else %}
                You did not submit anything in the past.
            {% endif %}
        </div>
    </div>

{% endblock %}