<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}{% load static %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <title>{% block title %}{% endblock %}| e-garbage</title>
        <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

        <link rel="shortcut icon" type="image/png" href="http://example.com/favicon.png"/>

    {% endblock stylesheets %}



<script type="text/javascript">
        function getDistricts(){
            $("#id_district").empty();
            $("#id_sector").empty();
            $("#id_cell").empty();
            $("#id_village").empty();

            const optionSelected = $('#id_province').find(":selected").text();


            $.ajax({
                url: "{% url 'load_district' %}",
                data: {'province' : optionSelected },
                success:function(data){

                  $.each(data, function(index, value){
                    $('#id_district').append('<option value=' + value.name +' placeholder="Choose...">'+ value.name + '</option>');
                  })
                }
          })
        }

        function getSectors(){
            $("#id_sector").empty();
            $("#id_cell").empty();
            $("#id_village").empty();

            const provinceSelected = $('#id_province').find(":selected").text();
            const districtSelected = $('#id_district').find(":selected").text();


            $.ajax({
                url: "{% url 'load_sector' %}",
                data: {'province' : provinceSelected,
                    'district': districtSelected
                },
                success:function(data){

                  $.each(data, function(index, value){
                    $('#id_sector').append('<option value=' + value.name +' placeholder="Choose...">'+ value.name + '</option>');
                  })
                }
          })
        }

        function getCells(){
            $("#id_cell").empty();
            $("#id_village").empty();

            const provinceSelected = $('#id_province').find(":selected").text();
            const districtSelected = $('#id_district').find(":selected").text();
            const sectorSelected = $('#id_sector').find(":selected").text();



            $.ajax({
                url: "{% url 'load_cell' %}",
                data: {'province' : provinceSelected,
                    'district': districtSelected,
                    'sector': sectorSelected
                },
                success:function(data){

                  $.each(data, function(index, value){
                    $('#id_cell').append('<option value=' + value.name +' placeholder="Choose...">'+ value.name + '</option>');
                  })
                }
          })
        }

        function getVillages(){
            $("#id_village").empty();

            const provinceSelected = $('#id_province').find(":selected").text();
            const districtSelected = $('#id_district').find(":selected").text();
            const sectorSelected = $('#id_sector').find(":selected").text();
            const cellSelected = $('#id_cell').find(":selected").text();



            $.ajax({
                url: "{% url 'load_village' %}",
                data: {'province' : provinceSelected,
                    'district': districtSelected,
                    'sector': sectorSelected,
                    'cell': cellSelected
                },
                success:function(data){

                  $.each(data, function(index, value){
                    $('#id_village').append('<option value=' + value.name +' placeholder="Choose...">'+ value.name + '</option>');
                  })
                }
          })
        }



</script>




</head>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">E-garbage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'history' %}">History</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    User: {{ user.get_username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Change password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">

    {% block content %} {% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{# <script src="{% static 'egarbage/js/choices.js' %}"></script> #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{#{% block extra_js %}#}
{#    <script src="{% static 'egarbage/js/choices.js' %}"></script>#}
{#{% endblock %}#}

</body>
</html>