{% extends "egarbage/layout.html" %} {% block title %} History {% endblock %} {% block content %}
    <div>&nbsp;</div>
    <h2 class="text-center"> Change your password </h2>
    <br>
    <div class="card mx-auto" style="width: 70%;">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <br><small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <button type="submit" class="btn btn-success">Save changes</button>
            </form>
        </div>
    </div>
{% endblock %}