{% extends "egarbage/layout_1.html" %} {% block title %} Login {% endblock %} {% block content %}
    {% load widget_tweaks %}
    <h1 class="card-title text-center"><b>Sign in</b></h1>

    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <div>&nbsp;</div>
    <hr class="my-4">

    <p>Don't remember password? Reset it <a href="{% url 'password_reset' %}">here</a></p>
    {#<div>&nbsp;</div>#}

    <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
{% endblock %}