{% extends "egarbage/layout_1.html" %} {% block title %} Login {% endblock %} {% block content %}
    {% load widget_tweaks %}
    <h1 class="card-title text-center"><b>Sign in</b></h1>

    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <br><small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit" class="btn btn-success">Login</button>
        <button class="btn btn-default float-right"><a href="{% url 'about' %}" class="text-decoration-none">Cancel</a>
        </button>
    </form>
    <div>&nbsp;</div>
    <hr class="my-4">

    <p><small>Don't remember password? Reset it</small> <a href="{% url 'password_reset' %}">here</a></p>
    {#<div>&nbsp;</div>#}

    <p><small>Don't have an account? </small><a href="{% url 'signup' %}">Signup</a></p>
{% endblock %}