<!-- This file serves in resetting the user's password by sending an email with 
    a link to the user then user that link to reset the password -->

{% extends "egarbage/layout_1.html" %} {% block content %}
    <h2>Forgot password</h2>
    <br>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <br><small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <div>&nbsp;</div>

    <!-- The other links if the user no longer wants to reset the password -->
    <div class="format_links">
        <!-- <p> -->
        <a class="float-left" href="{% url 'login' %}">Back to Login</a>
        <a class="float-right" href="{% url 'about' %}">Back to Home</a>
        <!-- </p> -->
    </div>

{% endblock %}