<!-- This file serves in resetting the user's password by sending an email with 
    a link to the user then user that link to reset the password -->

{% extends "egarbage/layout_1.html" %} {% block content %}
<h5 class="card-title text-center"><b>Resetting the password</b></h5>
<form action="" method="post" class="form-signin">{% csrf_token %} {% if form.email.errors %}{{ form.email.errors }}{% endif %}

    <!-- Added more stuff to format the input field the same as the login page -->
    <div class="form-label-group">
        <input type="text" class="form-control" placeholder="Enter your email" {{ form.email }} <label for="email">Email for sending a link</label>
    </div>

    <!-- The submit button -->
    <input type="submit" class="btn btn-lg boomback btn-block text-uppercase" value="Reset password" />
</form>

<!-- To add an extra line -->
<div>&nbsp;</div>

<!-- The other links if the user no longer wants to reset the password -->
<div class="format_links">
    <!-- <p> -->
    <a class="float-left" href="{% url 'login' %}">Back to Login</a>
    <a class="float-right" href="{% url 'home' %}">Back to Home</a>
    <!-- </p> -->
</div>

{% endblock %}